<div class='center'>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Update password</mat-card-title>
    </mat-card-header>

    <form [formGroup]='form' (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Current password" type='password' name='currentPassword' formControlName="currentPassword" />
      </mat-form-field>

      <div formGroupName='passwords'>
        <mat-form-field class="full-width">
          <input matInput placeholder="New password" type='password' name='password' formControlName="password" />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Confirm new password" type='password' name='confirmPassword' formControlName="confirmPassword" />
        </mat-form-field>

        <p *ngIf="f.passwords.errors && f.passwords.errors.notSame">Passwords need to be same</p>
      </div>

      <span color="warn">{{ error }}</span>
      
      <mat-card-actions>
        <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">
          Update
        </button>
      </mat-card-actions>
    </form>

  </mat-card>
</div>
