<mat-toolbar class="header mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <span class="logo">
      <a [routerLink]="['']">
        MWA Project
      </a>
    </span>
    <span class="fill-remaining-space"></span>
    <span class="user">{{(user | async)?.name}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="(user | async) && (user | async)?.role !== 'STUDENT'">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="update-password" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Change password</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav  mode="side" [opened]="(user | async) && (user | async)?.role !== 'STUDENT'" class="sidenav"
    fixedInViewport fixedTopGap="60"
  >
    <mat-nav-list class='nav-menu'>
      <span>Exams</span>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['/exams']">
        <mat-icon color="primary">list</mat-icon>
        Exams
      </a>
      <a mat-list-item [routerLink]="['/exams/create']">
        <mat-icon color="primary">code</mat-icon>
        Create exam
      </a>
      <div *ngIf="(user | async)?.role === 'ADMIN'">
        <span>Questions</span>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/questions']">
          <mat-icon color="primary">question_answer</mat-icon>
          Questions
        </a>
        <a mat-list-item [routerLink]="['/questions/add']">
          <mat-icon color="primary">note_add</mat-icon>
          Add question
        </a>
        <span>Users</span>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="['/users']">
          <mat-icon color="primary">supervisor_account</mat-icon>
          Users
        </a>
        <a mat-list-item [routerLink]="['/users/add']">
          <mat-icon color="primary">person_add</mat-icon>
          Add user
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="footer">
  <span>Nov 2018 Surenkhuu Narankhuu</span>
</mat-toolbar>
